/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td,section,article,aside,header,footer,nav,dialog,figure{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 Century Gothic,'Microsoft YaHei','SimSun',sans-serif; -webkit-text-size-adjust:100%;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0; vertical-align:middle; } 
address,caption,cite,code,dfn,em,b,th,var,i{font-weight:normal; font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ol,ul,li{list-style:none;} 
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;} 
q:before,q:after{content:"";}
p{word-wrap:break-word;}
abbr,acronym{border:0;}
select,input,button,button img,textarea,label{margin:0px; vertical-align:middle;}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
/*input[type=radio],input[type=checkbox]{margin-right:5px;}*/
b{font-weight:bold;}
.clear{ height:0px; font-size:0px; line-height:0px; overflow:hidden; clear:both;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }

/*-----common------*/
a{text-decoration:none;color:#000;}
a:hover{ text-decoration:underline; color:#F30 !important;}
a,a:hover {outline:none; blur:expression(this.onFocus=this.blur()); }
.undis{ display:none;}
.f-l { float:left; }
.f-r { float:right; }
.f-st { font-family:\5b8b\4f53;}
.f-yh { font-family:\5FAE\8F6F\96C5\9ED1;}

/*----layout----*/
body { color:#000; }
div { float:none; }
.sheeptop1 { z-index:999; height:34px; overflow:hidden; }
.sheeptop6, .sheeptop7 { float:left; }
.sheeptop1 { width:100%; position:fixed; #position:fixed; _position:absolute; top:0; right:0; background:url(/images/info2015/b01.gif) repeat-x; }
.sheeptop2 { width:980px; float:none; margin:0 auto; }
.sheeptop3 { width:980px; line-height:100%; }
.sheeptop4 { font-size:12px; }
.sheeptop4 li{float:left;}
.sheeptop4 a { float:left; padding:6px 5px 0 5px; height:24px; margin-right:10px; border-top:3px solid #FFF; }
.sheeptop4 a:hover { border-top:3px solid #F1F1F1; color:#d70a29; text-decoration:none; }
.sheeptop5 { float:right; }
.sheeptop6 { padding:4px 10px 0 10px; background:url(/images/info2015/b04.gif) repeat-x 0 bottom; height:30px; }
.sheeptop6 a { font-weight:bold; color:#FFF; }
.sheeptop7 { padding:4px 10px 0 0; font-size:12px; }
.sheeptop7 a { color:#666; }

.wrap{ width:980px; margin:0px auto; z-index:1; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.hr5 { height:5px; overflow:hidden; clear:both; }
.hr10 { height:10px; overflow:hidden; clear:both; }
.hr15 { height:15px; overflow:hidden; clear:both; }
.hr20 { height:20px; overflow:hidden; clear:both; }
.hr25 { height:25px; overflow:hidden; clear:both; }
.hr34 { height:34px; overflow:hidden; clear:both; }
.hr30{ height:30px; clear:both; overflow:hidden}
/* header begin */
.header { height:auto; overflow:hidden; }
.header .topbox { height:44px; overflow:hidden; padding:15px 0px; }
.header .topbox .logo { float:left; }
.header .topbox .linkbox { float:right; height:22px; overflow:hidden; padding:11px 0px; }
.header .topbox .linkbox a { display:block; float:left; margin-left:10px; line-height:22px; position:relative; }
.header .topbox .linkbox a.hot { background:url(/images/info2015/150213_info7_06.png) no-repeat right top; padding-right:16px; }

.header .topbox .dssbox { width:324px; height:35px; overflow:hidden; padding:1px 22px 1px 21px; float:right; background:url(/images/info2015/150213_info7_03.png) no-repeat left top; margin:3px 20px 0px 0px; }
.header .topbox .dssbox a { width:20px; height:35px; overflow:hidden; display:block; float:right; text-indent:-999em; }

.header .topbox select.sel { width:76px; height:24px; overflow:hidden; margin-top:5px; border:0px; float:left; background:none}
.header .topbox input.txtArea { width:220px; height:20px; line-height:20px; padding:4px 0px; overflow:hidden; border:0px; float:left; margin:3px 0px 0px 6px; }

.navtl { height:auto; overflow:hidden; width:980px;margin:0 auto}
.navtl .tabbox { height:auto; overflow:hidden; background:url(/images/info2015/bjdx1_07.png) repeat-x left bottom; }
.navtl .tabbox .wrap { height:34px; overflow:hidden; background:#f7f7f7; border-top:solid 3px #d80b2a; }
.navtl .change_tab { width:100%; height:34px; overflow:hidden; background:url(/images/info2015/bjdx1_07.png) repeat-x left bottom; }
.navtl .change_tab span { font-weight:normal; }
.navtl .change_tab a.lk { width:auto; height:34px; line-height:34px; font-size:14px; color:#000 !important; display:block; float:left; background:url(/images/info2015/bjdx1_03.png) repeat-y right top; border-right:solid 1px #dddddd; }
.navtl .change_tab a.lk span { width:auto; height:34px; padding:0px 10px; display:block; float:left; }
.navtl .change_tab a.lk:hover, .navtl .change_tab a .current { color:#000 !important; text-decoration:none; }
.navtl .change_tab a.lk:hover span, .navtl .change_tab a.lk.current span { background:#fff; cursor:pointer; }
.navtl .change_tab span.home { border-left:solid 1px #dddddd; }
.navtl .change_tab a.lk:hover span.home, .navtl .change_tab a.current span.home { border-left:solid 1px #dddddd; }

.navtl .change_tab .link { height:33px; overflow:hidden; float:left; border-right:solid 1px #dddddd; padding:0px 10px; }
.navtl .change_tab .link a { width:auto; height:33px; line-height:33px; padding:0px 5px; font-size:14px; color:#000 !important; display:block; float:left; }
.navtl .change_tab .link a:hover { text-decoration:underline; }
.navtl .change_tab .last { border-right:0px; }

.navtl .conbox { height:38px; line-height:38px; overflow:hidden; border-bottom:solid 1px #dddddd; }
.navtl .conbox .change_con { height:38px; line-height:38px; overflow:hidden; float:left; font-family:\5b8b\4f53}
.navtl .conbox .change_con a { margin-left:5px;padding-right:5px}
.navtl .conbox ul.list_box { float:right; padding-top:8px}
.navtl .conbox ul.list_box li { float:left; margin-left:15px; padding-left:10px; background:url(/images/info2015/bjdx1_35.png) no-repeat left center; }


/* header end */

/*今日聚焦*/
.jrdbox { height:44px; overflow:hidden; background:url(/images/info2015/150213_info3_06.png) repeat-x left bottom; padding:15px 0px 19px; }
.jrdbox .content { height:44px; overflow:hidden; background:url(/images/info2015/150213_info3_03.png) no-repeat left bottom; padding:0px 0px 0px 90px; }
.jrdbox ul.listbox { width:180px; height:44px; overflow:hidden; float:left; margin-left:20px; }
.jrdbox ul.listbox li { height:22px; line-height:22px; overflow:hidden; }

.jrdbox ul.listbox2 { width:auto; height:44px; overflow:hidden; float:right; }
.jrdbox ul.listbox2 li { height:22px; line-height:22px; overflow:hidden; }

.w250 { width:250px; }
.w710 { width:710px; }

.th_1 { height:auto; overflow:hidden; }
.th_1 .w250 { height:auto; overflow:hidden; }
.flashbox { width:250px; height:262px; overflow:hidden; }
.fs_A1{ width:250px; height:262px; position:relative; }
.fs_A1 .fPic { width:250px; height:250px; overflow:hidden; }
.fs_A1 .A1fBt{ height:7px; overflow:hidden; height:16px; z-index:10; }
.fs_A1 .shadow{ width:100%; position:absolute; bottom:0px; left:0px; z-index:10; height:28px; background:rgba(0,0,0,0.7);  
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:28px; text-align:left; }
.fs_A1 .shadow a{ text-decoration:none; color:#fff; font-size:14px; overflow:hidden; margin-left:10px; }
.fs_A1 .fcon{ width:250px; height:250px; overflow:hidden; position:relative; width:100%; float:left;  display:none;  } 
.fs_A1 .A1fBt a{display:inline;float:left;background:#eeeeee; width:58px;height:7px;position:relative; margin:0 6px 0 0;text-decoration:none; text-align:center; outline:0; text-indent:-999em; }
.fs_A1 .A1fBt a:hover,.fs_A1 .A1fBt a.current{ background:#ffcc00;color:#fff}
.fs_A1 .A1fBt a.last { margin:0px; }
.fs_A1 .fcon img{ display:block; width:250px; height:250px; overflow:hidden; }

.linkchang { height:30px; line-height:30px; overflow:hidden; font-size:14px; border:solid 1px #ccc; background:#f7f7f7; }
.linkchang a { width:62px; height:30px; overflow:hidden; text-align:center; display:block; float:left; }
.linkchang a:hover { background:#d80b2a; color:#fff !important; text-decoration:none; }

.ssdbox { height:auto; overflow:hidden; }
.ssdbox .ssbox { height:28px; overflow:hidden; padding:1px 11px; background:url(/images/info2015/150213_info4_31.png) no-repeat left top; }
.ssdbox .ssbox input.txtArea { width:205px; height:20px; line-height:20px; padding:4px 0px; overflow:hidden; border:0px; }
.ssdbox .ssbox a.subtn { width:18px; height:28px; overflow:hidden; display:block; float:right; text-indent:-999em; }
.ssdbox .sslink { height:20px; line-height:20px; overflow:hidden; padding-top:5px; font-size:14px; }
.ssdbox .sslink a { float:left; margin:0px 2px; }

/*网络课堂*/
.wlktdbox { height:auto; overflow:hidden; border-top:solid 3px #d80b2a; }
.wlktdbox .hd { font-size:16px; height:20px; line-height:20px; overflow:hidden; padding:10px 0px; }
.wlktdbox ul.list_box { height:auto; overflow:hidden; }
.wlktdbox ul.list_box li { width:113px; height:24px; line-height:24px; overflow:hidden; font-size:14px; padding-left:12px; float:left; background:url(/images/info2015/150213_info4_43.png) no-repeat left center; }

.th_1 .w710 { height:auto; overflow:hidden; }
/*头条*/
.topnews { text-align:center; line-height:24px; height:162px; overflow:hidden; }
.topnews .split { height:48px; padding-bottom:8px; }
.topnews h1 { font-size:18px; }
.topnews .link a { font-size:14px; margin:0px 4px; }

/*头条下列表*/
.topblist { height:auto; overflow:hidden; background:url(/images/info2015/150213_info4_46.png) repeat-x left top; padding-top:15px; }
.topblist ul.list_box { width:355px; height:auto; overflow:hidden; }
.topblist ul.list_box h1 { font-size:18px; line-height:24px; height:24px; overflow:hidden; padding-bottom:5px; }
.topblist ul.list_box li { height:24px; line-height:24px; overflow:hidden; padding-left:12px; font-size:14px; background:url(/images/info2015/150213_info4_53.png) no-repeat left center; }

.xxdbox { height:112px; overflow:hidden; background:#f7f7f7; border-top:solid 3px #999999; padding:10px 18px; }
.xxdbox ul.list_box { height:auto; overflow:hidden; }
.xxdbox ul.list_box li { width:168px; height:28px; overflow:hidden; line-height:28px; font-size:14px; float:left; }

/*招考 调剂*/
.layout { height:auto; overflow:hidden; }
.layout .hd { height:46px; overflow:hidden; padding-left:48px; line-height:48px; position:relative; }
.layout .hd strong { font-size:24px; float:left; }
.layout .hd .link { height:18px; line-height:18px; float:right; overflow:hidden; position:absolute; right:0px; top:20px; font-size:14px; }
.layout .hd .link a, .layout .hd .link span { display:block; float:left; height:18px; line-height:18px; overflow:hidden; }
.layout .hd .link span { margin:0px 2px; }
.layout .hdline { height:4px; overflow:hidden; background:#d70a29; }
.layout .hdline span { width:250px; height:4px; overflow:hidden; display:block; float:left; background:#000; border-right:solid 4px #fff; }
.layout .content { height:268px; overflow:hidden; padding-top:15px; }
.layout .smhd { font-size:18px; line-height:24px; font-weight:bold; height:24px; overflow:hidden; padding-bottom:5px; }

.layout .lbox { width:250px; height:auto; overflow:hidden; }
.layout .cbox { width:365px; height:268px; overflow:hidden; border-right:solid 1px #dddddd; margin-left:19px; }
.layout .rbox { width:326px; height:auto; overflow:hidden; }

.zkdbox .hd { background:url(/images/info2015/150213_info5_03.png) no-repeat left center; }
.tjdbox .hd { background:url(/images/info2015/150213_info5_14.png) no-repeat left center; }
.fxdbox .hd { background:url(/images/info2015/150213_info5_18.png) no-repeat left center; }

.kyyx .con { height:168px; overflow:hidden; font-size:14px; line-height:24px; }
.kyyx .con a, .kyyx .con span { display:block; float:left; height:24px; overflow:hidden; line-height:24px; }
.kyyx .con span { margin:0px 4px; }

.lnfsx .con { height:22px; overflow:hidden; padding-top:5px; }
.lnfsx .con a { width:55px; height:22px; overflow:hidden; display:block; float:left; font-size:14px; line-height:22px; text-align:center; background:url(/images/info2015/150213_info5_07.png) no-repeat left top; margin-right:7px; }
.lnfsx .con a:hover { text-decoration:none; }

.layout .cbox .tit { font-size:18px; line-height:24px; font-weight:bold; height:24px; overflow:hidden; padding-bottom:5px; }
.layout .cbox ul.list_box {height:auto; overflow:hidden; }
.layout .cbox ul.list_box li {font-size:14px; overflow:hidden;height:24px; line-height:24px; padding-left:12px; background:url(/images/info2015/150213_info5_10.png) no-repeat left center; }
.list_box li a{font-size:14px}
.list_box li{line-height:24px;}
.kyzy { height:auto; overflow:hidden; }
.kyzy ul.list_box { height:auto; overflow:hidden; }
.kyzy ul.list_box li { width:72px; height:24px; line-height:24px; overflow:hidden; float:left; font-size:14px; padding-left:9px; background:url(/images/info2015/150213_info5_17.png) no-repeat left center; }

.adtlbox { height:auto; overflow:hidden; }

.fxdbox .lbox { width:250px; height:auto; overflow:hidden; }
.fxdbox .cbox { width:365px; height:268px; overflow:hidden; border-right:solid 1px #dddddd; margin-left:19px; }
.fxdbox .rbox { width:326px; height:auto; overflow:hidden; }
.fxdbox .content { height:auto; overflow:hidden; }
.fxdbox .lbox { width:344px; height:auto; overflow:hidden; }
.fxdbox .rbox { width:616px; height:auto; overflow:hidden; }
.fxdbox .smhd { position:relative; }
.fxdbox .smhd strong { float:left; }
.fxdbox .smhd .link { height:18px; line-height:18px; float:right; overflow:hidden; position:absolute; right:0px; top:8px; font-size:14px; }
.fxdbox .smhd .link a, .fxdbox .smhd .link span { display:block; float:left; height:18px; line-height:18px; overflow:hidden; font-weight:normal; }
.fxdbox .smhd .link span { margin:0px 2px; }
.fxdbox .con { height:auto; overflow:hidden; padding-top:5px; }
.fxdbox ul.list_box { height:auto; overflow:hidden; }
.fxdbox ul.list_box li { height:24px; overflow:hidden; line-height:24px; }
.fxdbox .rbox ul.list_box li { width:308px; float:left; }

.zyssdbox { height:auto; overflow:hidden; }
.zyssdbox .content { height:auto; overflow:hidden; }
.zyssdbox .layout { width:480px; height:auto; overflow:hidden; }
.zyssdbox .layout .hd { background:url(/images/info2015/150213_info5_21.png) no-repeat left center; }
.zyssdbox .picdlist { width:120px; height:auto; overflow:hidden; }
.zyssdbox .picdlist .pic img { width:120px; height:90px; overflow:hidden; }
.zyssdbox .picdlist .tit { text-align:center; line-height:20px; height:40px; overflow:hidden; padding:5px 0px 10px; font-weight:bold; }
.zyssdbox .lbox ul.list_box { width:340px; height:auto; overflow:hidden; }
.zyssdbox .lbox ul.list_box li { height:24px; overflow:hidden; line-height:24px; }

.picScroll{position:relative; width:480px; height:134px; overflow:hidden; }
.picScroll .picList{ position:relative;top:0px;left:0px; overflow:hidden;zoom:1; width:420px; margin:0px auto; height:134px;}
.picScroll .picPrev, .picScroll .picNext{ position:absolute; cursor:pointer; display:block; width:20px; height:23px; top:53px; }
.picScroll .picPrev{background:url(/images/info2015/150213_info5_26.jpg) no-repeat left top; left:5px;}
.picScroll .picNext{background:url(/images/info2015/150213_info5_26_2.jpg) no-repeat left top; right:5px;}

.picScroll .picItem{ width:120px; padding:0px 10px; height:134px; overflow:hidden; float:left;}
.picScroll .picItem img{display:block; width:120px; height:90px; overflow:hidden; }
.picScroll .picItem p{height:40px; line-height:20px; vertical-align:top; text-align:center; padding-top:5px; font-weight:bold; }
.picScroll .picItem p img{ width:22px; height:22px; border:1px solid #ccc; padding:1px; float:left; margin-right:10px; vertical-align:middle;}

/*dbnavbox*/
.dbnavbox { border-top:solid 1px #dddddd; background:#f1f1f1; height:auto; overflow:hidden; }
.dbnavbox .wrap { height:auto; overflow:hidden; position:relative; }
.dbnavbox a.kywbtn { width:143px; height:36px; overflow:hidden; display:block; position:absolute; left:0px; top:30px; text-indent:-999em; background:url(/images/info2015/bjdx2_03.png) no-repeat left top; }
.dbnavbox .list_box { width:624px; height:auto; overflow:hidden; margin:0px auto; padding:22px 0px 22px 12px; border:solid 1px #dddddd; border-bottom:0px; border-top:0px;}
.dbnavbox .list_box ul.split { width:630px; float:left; width:89px; line-height:18px; height:auto; overflow:hidden; }
.dbnavbox ul.split h3 { font-size:14px; font-weight:bold; line-height:30px; }
.dbnavbox ul.split a { color:#999; }
.dbnavbox .searchbox { margin:0px; position:absolute; right:0px; top:30px; }

.Copyright{background:url(/images/info2015/ftbg.jpg) repeat-x;height:76px;width:100%;overflow:hidden}
.Copyright p{overflow:hidden;font:14px/33px \5FAE\8F6F\96C5\9ED1;color:white;text-align:center}
.Copyright p a{font-size:14px;color:white;padding:0px 14px; height:33px;display: inline-block;}

.searchbox { width:134px; height:24px; overflow:hidden; padding:0px 11px; margin:5px 10px 0px 0px; float:right; background:url(/images/info2015/bjdx1_15.png) no-repeat left top; }
.searchbox input.txtArea { width:116px; height:18px; line-height:18px; overflow:hidden; padding:3px 0px; float:left; border:0px; }
.searchbox a.subtn { width:14px; height:24px; overflow:hidden; float:right; text-indent:-999em; display:block; float:right; }

/*列表**/
/*w710*/
.w710{width:710px;overflow:hidden;}
.arcont{overflow:hidden}
.arcont h1{font-size:18px;font-weight:bold;text-align:center;line-height:30px;}
.time{color:#666;font-size:12px;text-align:center;}
.time a{color:#FFF; background:#d80b2a;padding:1px 3px;}
.time a:hover{color:#fff;text-decoration:none;background:#AAA}
.share{height:40px;width:710px;position:relative;text-align:center;}

.cont{font:14px/220% \5FAE\8F6F\96C5\9ED1;overflow:hidden;}
.cont p{font:14px/220% \5FAE\8F6F\96C5\9ED1;padding-bottom:5px;overflow:hidden;}






.list_boxs{overflow:hidden;}
.list_boxs .hd{height:40px;line-height:40px;border-top:3px solid #999;}
.list_boxs .hd .s{font-size:16px;font-weight:bold;}

.area{overflow:hidden}
.area .pic{width:150px;float:left;text-align:center;}
.area .pic a{line-height:30px;}
.area .pic img{width:150px;height:100px;}
.are_list{width:530px;overflow:hidden;float:right;}
.are_list li{width:240px;padding-right:25px;float:left;font-size:14px;line-height:25px;}
.are_list1{width:530px;overflow:hidden;}
.are_list1 li{width:530px;float:left;font-size:14px;line-height:25px;}
.are_list2,.are_pic{width:710px;overflow:hidden;}
.are_list2 li{width:210px;padding-right:25px;float:left;font-size:14px;line-height:25px;height:25px}

.are_pic{padding-top:10px}
.are_pic li{width:150px;float:left;padding-left:65px;}
.are_pic li img{width:150px;height:200px}
.are_pic li h3{font-size:14px;line-height:30px;text-align:center;}
.are_pic li .jiage{font-weight:bold;text-align:center;color:#d80b2a}
.are_pic1{width:720px;overflow:hidden;padding-top:10px}
.are_pic1 li{width:120px;float:left;padding:0 10px}
.are_pic1 li img{width:120px;height:75px}
.are_pic1 li h3{font-size:14px;line-height:30px;text-align:center;}


/*w250*/
.w250{width:250px;overflow:hidden;}
.focus_bate{width:250px;height:270px; overflow:hidden;}
.fs_A2{height:250px; position:relative; background:transparent; width:250px;}
.fs_A2 .A2fBt{ position:absolute; top:255px; left:0px; overflow:hidden; zoom:1;  height:10px; z-index:10;width:260px; }
.fs_A2 .shadow{ width:250px; position:absolute; top:220px; left:0px; z-index:10; height:30px; background:rgba(0,0,0,0.6);  
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#70000000',endColorstr = '#70000000')\9;  display:block; line-height:30px; text-align:left; }
.fs_A2 .shadow a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; margin-left:10px; }
.fs_A2 .fcon{ position:relative; width:250px; float:left;    }
.fs_A2 .A2fBt i{font-style:normal }  
.fs_A2 .A2fBt a{display:inline;float:left;width:59px;height:7px;position:relative; text-align:center; background:#eeeeee;margin-right:5px;text-indent:-9999px;}
.fs_A2 .A2fBt a:hover,.fs_A2 .A2fBt a.current{background:#ffcc00;text-decoration:none;width:60px;height:7px;}
.fs_A2 .fcon img{ display:block; width:250px;height:250px;}
.fs_A2 .fix{ position:relative; width:9999px; height:270px;  }
.fs_A2 .fPs{ width:100%; overflow:hidden; position:relative;  }

.listab,.list_menu,.list_box{overflow:hidden;}

.list_menu{background:#f7f7f7;height:30px; }
.list_menu li { float:left; text-align:center; cursor:pointer; list-style:none; padding:0 15px;font-size:14px;line-height:30px;}
.list_menu li:hover{background:#d80b2a; color:#FFF; }
.list_menu li.hover { background:#d80b2a;}
.list_menu li.selected { color:#FFF; background:#d80b2a;}

.lisearch{background:url(/images/info2015/5_03.jpg) no-repeat;width:230px;height:28px;padding:2px 10px 0}
.lisearch .text{width:195px; height:22px; line-height:22px; float:left;padding:2px 5px;font-size:14px;color:#9c9c9c;border:0;background:none}
.lisearch .button{float:right;}

.lis_hot{padding-top:10px;text-align:center;}
.lis_hot a{font-size:14px;padding:0 1px;}
.hosu li{height:29px;line-height:29px;margin-top:14px;float:left;width:250px;text-align:left;overflow:hidden}
.hosu li a{background:url(/images/info2015/25a.jpg) no-repeat;background-position:0 0;display:block;font-size:14px;padding:0 20px 0 20px}
.hosu li a:hover{background:url(/images/info2015/25a.jpg) no-repeat;background-position:0 -29px;color:#fff!important;;text-decoration:none;}

/*ketang*/
.ketang,.kyyx,.ky_list{overflow:hidden;}
.w250 .hdb{border-top:3px solid #d80b2a;height:40px;font-size:16px;line-height:40px;font-weight:bold;}
.w250 .hdbs{height:40px;font-size:16px;line-height:40px;font-weight:bold;}
.ket_list li{width:115px;float:left;height:24px;background:url(/images/info2015/dian.jpg) no-repeat 0 center;padding-left:10px;font-size:14px;line-height:24px}
.ky_list{font-size:14px;line-height:26px}

.ket_lists li{width:240px;float:left;height:24px;background:url(/images/info2015/dian.jpg) no-repeat 0 center;padding-left:10px;font-size:14px;line-height:24px}
.ket_listb li{width:70px;float:left;height:24px;background:url(/images/info2015/dian.jpg) no-repeat 0 center;padding-left:10px;font-size:14px;line-height:24px}
.ket_listy li{width:62px;float:left;height:24px;font-size:14px;line-height:24px}

.oldN{overflow:hidden;width:250px;font-weight:bold}
.oldN a{width:55px;height:20px;background:#f1f1f1;float:left;line-height:20px; text-align:center;margin:0 5px 10px 0;-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.oldN a:hover{background:#d70a29;color:white !important; text-decoration:none}
.sline{background:#465160;height:6px;font-size:0px;overflow:hidden}

.mBox{border:1px solid #dddddd;border-top:0;overflow:hidden;}
.mBox .hdbd{height:30px;padding:5px 12px}
.mBox .hdbd span{font:18px/30px \5FAE\8F6F\96C5\9ED1;float:left}
.mBox .hdbd .more{float:right;background:url(/images/info2015/mos.jpg) no-repeat;width:48px;height:20px; text-align:center;line-height:20px; color:#fff;margin-top:5px}
span.pre,span.next{width:9px;height:16px;position:absolute;top:52px;display:block; cursor:pointer}
span.next{background:url(/images/info2015/s_next.jpg) no-repeat;right:12px}
span.pre{background:url(/images/info2015/s_pre.jpg) no-repeat;left:12px}
/*备考*/

.tool,.zyarea,.text_list{overflow:hidden}
.tool .hdbs span{padding-left:15px}
.toolPic{overflow:hidden;height:210px;position:relative;margin-top:10px;padding:0 12px 15px 12px;}
ul.toolBox{overflow:hidden; width:120px; height:210px; margin:0px auto; }
ul.toolBox li{width:120px;height:210px;float:left;  text-align:center;}
ul.toolBox li p{overflow:hidden}
ul.toolBox li .pic{overflow:hidden;width:120px;height:150px; text-align:center}
ul.toolBox li .pic img{width:100px;height:150px;}
ul.toolBox li .price {text-align:center;overflow:hidden;height:auto;padding-top:15px}
ul.toolBox li .price strong{font-size:14px;overflow:hidden;font-weight:bold}
ul.toolBox li .price a{color:#ff6600}
ul.toolU{overflow:hidden;padding:5px 12px}
ul.toolU li{float:left;width:110px;padding-bottom:11px}
ul.toolU li a{width:90px;height:20px;background:#f1f1f1;float:left; text-align:center;line-height:20px}
ul.toolU li a:hover{background:#d70a29;color:white !important; text-decoration:none}

/*招考*/
.uc_list,.uc_ulbox,.dajax{overflow:hidden}
.uc_list .uchd{height:45px;background:url(/images/info2015/slas.jpg) no-repeat;overflow:hidden}
.uc_list .uchd span{line-height:30px;padding-top:5px;font-size:20px;font-weight:bold;}
.uc_list .uchd span.s{font-size:14px;font-weight:100}
.uc_ulbox{padding:10px 0}
.uc_ulbox li{font-size:14px;line-height:24px;}
.uc_ulbox li.fline{border-bottom:1px dotted #dfdfdf;padding-bottom:5px;margin-bottom:5px}

.dajax{text-align:center;font-size:16px;line-height:30px;}
.dajax a{width:auto;height:30px;padding:0 10px;background:#f7f7f7;line-height:30px;text-align:center;display:inline-table}


/*原infostyle部分定义*/
.news3 { width:680px; padding:20px 20px; background:#F0F0F0; color:#000; float:left; }
.news3a { width:680px; float:left; }
.news3a h1 { font-size:18px; text-align:left; }
.news3a h2 { font-size:12px; color:#BBB; margin:0; border-bottom:1px #CCC solid; margin-bottom:10px; padding:5px 0; text-align:left; }



/*2019-5-20 声明*/
.zg_cont_statement01{
	padding:10px;
	border:1px dashed #999;
	margin-top:28px;
}
.zg_cont_statement01 p{
	font:14px/2 'microsoft yahei';
	text-indent:2em;
    color: #999;
}




